!!! xml
!!! 1.1
%html{:xmlns => 'http://www.w3.org/1999/xhtml', :'xml:lang' => 'en'}
  %head
    %meta{:'http-equiv' => 'Content-Type', :content => 'application/xhtml+xml;charset=utf-8'}
    %title 刘周的博客
    %link{:rel => 'stylesheet', :href => 'design/main.css', :type => 'text/css;charset=utf-8'}
    / %link{:rel => 'alternate', :href => '/posts/feed.rss', :type => 'application/rss+xml', :title => 'Feed (RSS 2.0)'}
    / %link{:rel => 'alternate', :href => '/posts/feed.atom', :type => 'application/atom+xml', :title => 'Feed (Atom)'}
  %body
    %h1 刘周的博客
    %ol#posts
      - for post in posts
        %li
          %a{:href => "posts/#{post[:slug]}.xhtml", :title => post[:title]}= post[:title]
    #footer
      :markdown
        Gmail: [liuzhoou@gmail.com]("mailto:liuzhoou@gmail.com"), Twitter: [@liuzhoou](http://twitter.com/liuzhoou)